body { 
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;

}

.wrapper {
    width: 100vw;
    height: 100 vh;

}

.header {
    height: 10%;
    background-color: #8C0A0D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #C8BCA0;

}

.main__body {
    height:80%;
    background-image: url(../img/bg_shine.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(198, 186, 159, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.banner {
    width: 90%; 
    height: 44%; 
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    margin-top: 40px;
    border-right: 5px solid #3E1118;
    border-bottom: 4px solid #3E1118;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow__left {
    margin-left: 20px;
    height: 55px;
    width: 55px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    line-height: 55px;
    
}

.banner__cont {
    text-align: center;

}

.banner__title {
    width: 500px;
    line-height: 60px;
    font-size: 55px;
    color: #35040C;
}

button {
    height: 42px;
    width: 189px;
    background-color: #F6CC79;
    border: none;
    border-bottom: 5px solid #BF670D;
    border-radius: 10px;
    font-size: 20px;

}

.small__butns {
    height: 20px;
    width: 80px;
    display: inline-flex;
    justify-content: space-between;
    

}
.butn1 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.butn2 {
    height: 20px;
    width: 20px;
    background-color: #BF670D;
    border-radius: 50%;
}
.butn3 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}

.arrow__right {
    margin-right: 20px;
    height: 55px;
    width: 55px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    line-height: 55px;
    
}

.info {
    height: 50%;
    width: 90%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    
}
.text {
    margin-left: 2%;
   
}

.footer {
    height: 10%;
    background-color: #8C0A0D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #C8BCA0; 

}

.footer__nav__link {
    text-decoration: none;
    color: #C8BCA0;
    transition: color .3s linear;
}

.footer__nav__link:hover {
    color: white;
} 