
* {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', sans-serif;

}

.page__title {
    width: 752px;
    height: 237px;
    background-color: #2d7053;
    display: flex;
    align-items: center;
     
}

.page__title__logo {
    width: 144px;
    height: 144px;
    background-color: white;
    border-radius: 50%;
    margin-left: 40px;
    
}

.page__title__text {
    width: 170px;
    height: 144px;
    margin-left: 57px;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
}

.page__title__items {
    width: 100px;
    height: 100px;
    margin-left: 220px;
   
}

.item {
    width: 87px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    margin: 15%;
} 

.page__body { 
    width: 752px;
    height: 470px;
    display: flex;
    background-image: url(../img/background.png);
    background-size: cover;

}

.btn {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    text-align: center;
    margin-left: 200px;
    margin-top: 350px;
    
}


.link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 77px;
 
}

.page__main__body {
    width: 752;
    height: 1000px;
    background-color: white;
    font-size: 25px;
    
}

.doctor {
    width: 752px;
    height: 367px;
    display: flex;
    align-items: center;

}

.photo {
    width: 247px;
    height: 247px;
    margin-left: 40px;
    background: url(../img/154-9254@1X.png);
    background-size: cover;
    border-radius: 50%;

}

.info {
    width: 250px;  
    height: 250px;
    margin-top: 60px;
    margin-left: 130px;
    justify-content: center; 
    
}

.introduction {
    width: 590px;
    height: 166px;
    margin-left: 40px;

}

.reason__list {
    width: 752px ;
    height: 280px;
    margin-left: 40px;
}
.list__items {
    margin-left: 30px;
}


.butn2 {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    
}

.footer {
    width: 752px;
    height: 156px;
    background-color: #888888;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;

}
.small__logo {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-left: 40px;

}

.adres {
    margin-left: 160px;
    margin-top: 72px; 

}

.contacts {
    margin-left: 40px;
    margin-top: 25px;
}
    
