*{
    margin: 0;
    padding: 0;
}
body {
    background-color: wheat;
    font-family: 'Bitter', serif;
    
}
.wrapper {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 20px;
    width: 800px;
    background-color: #F2F2F2;
    border: 4px solid orange;
}

h1 {
    margin-top: 20px;
    color: #6E4941;
    text-transform: capitalize;
}

.wavy_line {
    width: 100%;
    height: 10px;
    background: url(../img/wavy_line.png);
    background-size: contain;
    opacity: .3;
}

.menu__item_wrap {
    margin-top: 10px;
    display: flex;
}

img {
    border-radius: 15px;
    transition: all 1s linear;
}
img:hover {
    transform: rotateY(150deg) ;
}

.menu__item__description {
    width: 80%;
    padding-left: 15px;
}

.menu__item__title {
    display: flex;
    height: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: #B88F3F;
    transition: all .3s linear;
    
}
.menu__item__title ::first-letter {
    text-transform: capitalize;
}

.menu__item__title :first-child:hover {
    color: #979705;
   
}
.menu__item__title :first-child:active {
    color: red;
   
}

.menu__item__title :last-child:hover {
    color: #979705;
    font-size: 30px;
}
.menu__item__title :last-child:active {
    color: red;
    font-size: 30px;
    
}
.dotted_line {
    border-bottom: 2px dotted #A8A8A8;
    flex: content;
}

.menu__item__description__text {
    color: #717E84;
    transition: all .3s linear;
}

.menu__item__description__text:hover {
    color: black;

}

.menu__item__description__text:active {
    font-weight: bolder;
    color: black;

}





