*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

.header {
    height: 140px;
}

.header__top {
    height:30%;
    line-height: 42px;
    background-color: #4CB1CA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;

} 

.switchers__wrap {
    margin-left: 8%;
    display: flex;
    color: #A5E2F2;
}

.switcher {
       margin: 0 30px;
} 

.switcher__bar {
    border: 1px solid  #4CB1CA;
    background-color: #4CB1CA;
    color: white;
    font-size: 15px;
} 


.customer_data {
    margin-right: 8%;
} 


.customer_data__link {
       height: 25px;
       line-height: 25px;
       padding-right: 25px;
       padding-left: 25px;
       border-right: 2px solid white;
       text-decoration: none;
       color: white;
       transition: color .2s linear;
       
   }
.customer_data :last-child {
    border-right: none;
    padding-right: 0px;
}
.customer_data__link:hover {
    color: #DCCFBF;
}

.header__bottom {
    height: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #656565;
}

.logo{
    margin-left: 10%;
    font-size: 35px;
}

.site_navigation {
    margin-left: 50px;
    margin-right: 180px;
    font-size: 15px;

}

.nav__link {
    margin: 0 10px;
    text-decoration: none;
    color: #656565;
    transition: color .2s linear;

}
.nav__link:hover{ 
    color: #4CB1CA
}

.cart {
    margin-left: 30px;
}


.banner {
    height: 400px;
    background-image: url(../images/banner_bg.png);
    background-position: 0% 15%;
}

.banner__wrap {
    width: 80%;
    height: 100%;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.banner__arrow {
    height: 80px;
    width: 80px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-size: 80px;
    line-height: 65px;    
    color: #CDCDCD;

}

.banner__text {
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    margin-left: 150px;
}


.banner__title {
    width: 300px;
    padding: 0 10px;
    margin-bottom: 3px;
    background-color: #746C64;
}

.banner__subtitle {
    padding: 0 10px;
    margin-bottom: 3px;
    background-color: #746C64;
}

.main__body{
    background-color: white;
}

.main__body__wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.main__body__stuff {
    width: 80%;
}

.main_body__aside {
    width: 20%;
}

.item__aside {
    
    width: 100%;
    border: 2px solid #EFF1F0;
    box-shadow: 1px -1px 3px 0 rgba(0,0,0,.1), -1px -1px 3px 0 rgba(0,0,0,.1), 1px 1px 3px 0 rgba(0,0,0,.1), -1px 1px 3px 0 rgba(0,0,0,.1);
    border-top: 4px solid #4CB1CA;
    margin-top: 20px;
    text-align: center;
}

.first__aside__bg {
    height: 300px;
    background-image: url(../images/1st_aside_bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 5%;
    background-position: 45% 0%; 
} 

.check_it_out {
    width: 60%;
    height: 30px;
    margin-top: 250px;
    background-color: #4CB1CA;
    border: none;
}

.button__link {
    color:white;
    text-transform: capitalize;
    text-decoration: none;
}

.dots__container {
    width: 100%;
    border-top: 2px solid #EFF1F0;
  
}
.dots__wrap {
    margin: 7px auto;
    width: 25%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #7DB122;
    border-radius: 50%;
    transition: color .2s linear;
}
.dot:hover {
    background-color: #4CB1CA;
}

.line {
    width: 40%;
    height: 2px;
    background-color: #EFF1F0;
    margin: 20px auto;
}

.subscribe {
    width: 60%;
    height: 30px;
    background-color: #7EB123;
    border: none;
    margin: 20px;
}

.stuff__category {
    margin-top:  10px;
    margin-left: 25px;
    font-size: 25px;
    text-transform: uppercase;
}

.stuff__row {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    margin: 10px 10px;
    width: 30%;
    height: 300px;
    border: 2px solid #EFF1F0;
    box-shadow: 1px -1px 3px 0 rgba(0,0,0,.1), -1px -1px 3px 0 rgba(0,0,0,.1), 1px 1px 3px 0 rgba(0,0,0,.1), -1px 1px 3px 0 rgba(0,0,0,.1);
    position: relative;
}
.item__bg {
    width: 96%;
    height: 75%;
    margin: 2%;
    background-color: #EFF1F0;
    text-align: center;
    line-height: 350px;
}

.price {
    color: #7DB122;
    font-size: 20px;
    line-height: 40px;
}
.stuff__cart {
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color:  #7DB122;
    text-align: center;
    line-height: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.label{
    position: relative;
}

.green {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.sale {
    position: absolute;
    top: 17px; 
   left: 17px;
   z-index: 1;
}
.new {
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 1;
}

.blue {
    position: absolute;
    top: 0;
    left: 170px;
    z-index: 1;
}

.footer {
    height: 600 px;
    text-align: center;
}

.footer__top {
    height: 120px;
    background-color: #4CB1CA;
    line-height: 120px;
}
.footer__top__wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between

}
.footer__top__block {
    display: flex;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

.footer__top__block__icon {
    margin: auto;
    margin-right: 15px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 70px;
}

.footer__mid {
    height: 420px;
    background-color: #39A0B9;
}

.footer__mid__wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;


}
.footer__mid__block {
    margin-top: 50px;
    text-align: left;
}

.footer__mid__block__title {
    text-transform: uppercase;
    font-size: 25px;

}
.footer__mid__block__line {
    margin: 5px;
    width: 220px;
    height: 1px;
    background-color: #4CB1CA;
}

.footer__mid__block__twitter {
    width: 320px;
    display: flex;
    justify-content: space-between;

}
.twitter__logo {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    margin-right: 15px;
    line-height: 50px;
    text-align: center;
}

.twitter__text {
    width: 270px;
}

li {
    line-height: 40px;
    list-style-position: inside;
    list-style-type: "\2039";
    
}

.footer__mid__block__contact {
    width: 250px;
}

.footer__mid__block__contact__media {
    width: 50px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer__mid__block__contact__media__logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    line-height: 45px;
    text-align: center;
}

.footer__bottom {
    height: 60px;
    background-color: #0B4B5A;
}

.footer__bottom__wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    color: #8ADCF0;
    text-transform: capitalize;

}


.footer__bottom__navigation__link {
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: #8ADCF0;
    border-right: 2px solid #8ADCF0;
    transition: color .2s linear ;
}

.footer__bottom__navigation :last-child {
    border-right: none;
    padding-right: 0px;

}

.footer__bottom__navigation__link:hover {
    color: white;
} 
